body {
  display: flex;
  flex-direction: column;
  background: #eeeff0;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.header {                                     /*HEADER*/
  display: flex;
  flex-direction: row;
  background: #4977a9;
  flex-basis: 40px;
  justify-content: space-around;
  align-items: center;
  min-width: 635px;
}

.logo-vk {                                    
  flex-basis: 32%;
  display: flex;
  justify-content: center;
}

.search {
  flex-basis: 16%;
}

.search input::-webkit-input-placeholder { 
  color: #d9e2ec; 
}

.search input {
  padding: 6px 25px;
  border-radius: 20px;
  background: transparent;
  border: none;
  background-color: #224b7a;
}

.search input::after {
  content: url(png/zoom.png);
}

.bell-btn {                           
 flex-basis: 3%;
}

.bell-btn button{
  margin: none;
  padding: none;
  border: none;
  background: #4977a9;
  height: 40px;
  width: 50px;
}

.bell-btn button:hover {
  cursor: pointer;
  background-color: #3a6899;
}

.music-btn {
  flex-basis: 4%;
}

.music-btn button{
  margin: none;
  padding: none;
  border: none;
  background: #4977a9;
  height: 40px;
  width: 50px;
}

.music-btn button:hover {
  cursor: pointer;
  background-color: #3a6899;
}

.header-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.header-name>a {
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding-right: 10px;
}

.header-name img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.header-name:hover {
  background-color: #3a6899;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.left-bar {                                   /*LEFT-BAR*/
  flex-basis: 450px;
  margin: none;
  padding: none;
  border: none;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#my-page::before {
  content: url(png/home.png);
  padding-right: 10px;
}

#news::before {
  content: url(png/news.png);
  padding-right: 10px;
}

#messages::before {
  content: url(png/message.png);
  padding-right: 10px;
}

#friends::before {
  content: url(png/friends.png);
  padding-right: 10px;
}

#groups::before {
  content: url(png/groups.png);
  padding-right: 10px;
}

#videos::before {
  content: url(png/video.png);
  padding-right: 10px;
}

#documents::before {
  content: url(png/document.png);
  padding-right: 7px;
}

.middle-bar {                                     /*MIDDLE-BAR*/
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-basis: 230px;
  margin: 15px;
  align-items: center;
  padding: 15px 0;
  min-width: 230px;
}

.edit-photo-btn {                    
  width: 100%;
  margin-top: 10px;
  background-color: #e5ebf1;
  border: none;
  border-radius: 5px;
  color: #55677d;
  padding: 7px;
  margin-bottom: 15px;
}

.edit-photo-btn:hover{
  background: rgb(200,202,232);
  cursor: pointer;
}

.presents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15px;
  font-size: 13px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.friends {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.friends-list-head {
  font-size: 12px;
}

.friends-list-head a {
  color: black;
}

.friends img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 5px;
}

.friends span {
  font-size: 14px;
  padding: 10px 0;
}

.friends span:hover {
  text-decoration-line: underline;
}

.friends-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
}

.friend {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.friend:hover {
  cursor: pointer;
}

.interesting-pages {
  display: flex;
  flex-direction: column;
}

.interesting-pages img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding-right: 10px;
}

.interesting-pages-list {
  padding: 15px 0px;
  font-size: 12px;
}

.interesting-pages-head {
  font-size: 13px;
  padding: 10px 0;
  color: black;
}

.page {
  display: flex;
  padding: 5px 0;
}

.page div {
  display: flex;
  flex-direction: column;
}

.page a {
  padding: 5px 0;
}

.page span {
  font-size: 12px;
  color: #656565;
}

.right-bar {                                /*RIGHT-BAR*/
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-basis: 550px;
  margin-top: 15px;
  margin-bottom: 15px; 
  margin-right: 15px;
  min-width: 550px;
}


.my-name button {                             /*КНОПКА ИЗМЕНЕНИЯ СТАТУСА*/
  border: none;
  background-color: white;
  padding-left: 15px;
  color: #939393;
  font-size: 13px;
}

.my-name button:hover {
  cursor: pointer;
}

.my-name hr {
  margin: 0px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
  background-color: lightgrey;
  height: 1px;
}

.brothers-sisters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  line-height: 0px;
  color: #828282;
  font-size: 13px;
}

.brothers-sisters div {
  padding-right: 115px;
  font-size: 13px;
}

.brothers-sisters a:hover {
  text-decoration-line: underline;
}

.show-information {
  padding-left: 173px;
  padding-top: 15px;
}

.show-information button {
  border: none;
  background-color: white;
  color: #2a5885;
  font-size: 13px;
}

.show-information button:hover {
  cursor: pointer;
}

.people {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.people a {
  font-size: 13px;
  color: #828282;
  display: inline-block;
}

.people a:hover {
  color: #2a5885;
}

.friends-number {
  padding-left: 130px;
}

.photos-number {
  padding-right: 130px;
}


.friends-number {
  align-items: center;
}

.my-photos {
  margin-top: 15px;
  padding: 15px 0;
  font-size: 13px;
}

.my-photos a {
  color: black;
}

.my-photos div {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.what-is-new {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.what-is-new input {
  padding-left: 15px;
  border: none;
  padding-right: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.what-is-new>img {
  border-radius: 20px; 
}

.what-is-new a img {
  padding: 0px 5px;
}

#document-icon {
  padding-left: 25px;
}

.posts {
  margin-top: 15px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.posts button {
  padding: 15px 0px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
}

.posts button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 5px;
  color: #285473;
  font-size: 12px;
  font-weight: 400;
}

li:hover {
  background-color: rgb(200,202,232);
}

h1 {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 15px;
  margin-bottom: 0;
}

span {
  color: #42648b;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: lightgrey;
  height: 1px;
}

a {
  text-decoration: none;
  color: #2a5885;
}